span {
    font-size: 50px;
}
.container {
    text-align: center;
    margin:50px auto;

}
#counterButton {
    border: none;
    border-radius: 40px ;
    background: black;
    color: white;
    padding: 14px 26px;
}